<table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Address</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Poojitha</td>
            <td>K</td>
            <td>NJ</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Kumar</td>
            <td>K</td>
            <td>Hyd</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Govardhan</td>
            <td>S</td>
            <td>CA</td>
          </tr>
        </tbody>
      </table>