.Registration{
    position:center;
    background-color: rgba(130, 199, 20, 0.623);
    border-top: rgb(151, 140, 34);
}
.img{
    position:relative;
    
}
.Email{
    position:random($limit: 1);
    margin: 12px;
    text-align: center;
.error{
    position:round($number: 0);
     left: 10px;
     top:50px;
     color:blue($color: #000000);
    }

}
.Password{
    text-align: center;
    position: relative;
    margin-right: 12px;
    
 .error{  
    position: absolute;
     left: 20px;
     top: 20px;
     color:orange;
    }
    
}
.button{
     position:center;
     text-align: center;
}

h1{
text-align: center;
color:rgb(16, 29, 65);
background-color:rgb(184, 157, 9);
}