<div>
        <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Company Name</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Intel</td>
                    <td>Portland</td>
                    <td>OR</td>
                    <td><button type="button" class="btn btn-success" routerLinkActive="active" (click)="intelInfo()">View </button></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Amazon</td>
                    <td>Seattle</td>
                    <td>WA</td>
                    <td><button type="button" class="btn btn-success" routerLinkActive="active" (click)="amazonInfo()">View </button></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Gmail</td>
                    <td>MountainView</td>
                    <td>CA</td>
                    <td><button type="button" class="btn btn-success" routerLinkActive="active" (click)="gmailInfo()">View </button></td>
                  </tr>
                </tbody>
              </table>
</div>