.poojitha {
    h1 {
      text-align: center;
      background-color: aquamarine;
      font-style: italic;
    
    };

      }

 .custom{
        position: relative;
        
        label{
         position: absolute;
         left: 0px;
         top: -22px;
         color: red;
        }
      }
    