.mohan-textbox {
    h1 {
        text-align: center;
        font-style: inherit;
        background: lightslategrey;
    }
    div {
        background: lavender;
        }
        label {
            color: red;
        }
    input {
        background: lavender;
    }
}