<div class="mohan-textbox">

            <h1>Simple TextBox Component</h1>

            <label>{{errorMessage}}</label><br>

            <div *ngFor="let column of users.labels">{{column.label}}
      <input type="string" value="Please type here" size="40" (input)="onTextChange($event)">
            </div>
      
      
</div>
          
 <!--   <div>
        First name:
        <input type="text" name="firstname" value="{{firstname}}" size="40" (input)="onTextChange($event)">
        <label>{{errorMessage}}</label>
  <br>
        Last name:
  <input type="text" name="lastname" value="Please Enter your Last Name" size="40">
<br>
        Phone Number:
  <input type="string" name="phonenumber" value="Please Enter your Phone Number" size="25">
<br>
        Address:
  <input type="string" name="address" value="Please Enter your Address" size="50">
<br>
        E-mail:
  <input type="E-mail" name="E-mail" value="Please Enter your E-mail ID" size="25">
  <br><br>
  </div>-->
  