.user-registration{
    background-color: rgb(155, 206, 240);
    padding:center;
    text-align: center;
    margin-top: 200px;
    margin-left: 0px;
    .field{
        background-color:rgb(226, 226, 117);
        margin:20px
    }

}