<div class="user-registration">
    <h1>Welcome to 2018 Sports Event</h1>
        <h2>Sign Up Page</h2>

        <div class="first">
                <label>First Name:</label>
                <input type="text" [value]="userdetails.firstname" (input)="userdetails.firstname = $event.target.value">
                <label class="firstnameerror">{{userdetails.firstnameerror}}</label>
            </div><br>
        <div class="last">
                <label>Last Name:</label>
                <input type="text" [value]="userdetails.lastname" (input)="userdetails.lastname = $event.target.value">
                <label class="lastnameerror">{{userdetails.lastnameerror}}</label>
                </div><br>




        <div class="email">
        <label>E-mail:</label>
        <input type="text" [value]="userdetails.email" (change)="validateEmail($event)">
        <label class="emailerror">{{userdetails.emailerror}}</label>
    </div>
    <br>
        <div class="pw">
        <label>New password:</label>
        <input type ="password" [value]="userdetails.password" (change)="validatePassword($event)">
        <label class="pwerror">{{userdetails.passworderror}}</label>
        </div>
        <br>
        <div>
            <div *ngIf="userdetails.disableLogin">
                    <button  disabled (click)="login()" >Login</button>
            </div>
            <div *ngIf="!userdetails.disableLogin">
                    <button  enabled class="button" (click)="login()">Login</button>
            </div>
            
        </div>

        <br>
</div>