<div class="poojitha-datagrid">
    <h1>Datagrid Component</h1>

    {{data | json}}
    <table>
        <tr >
            <th *ngFor = "let column of table.columns">{{column.label}}</th>
           
        </tr>
      <tr *ngFor="let row of table.data">
          <td *ngFor="let column of table.columns">
                {{row[column.key]}}</td>
                
               
            <td >
        <div >
            <button *ngIf="row.property1 == 'view'">View</button> 
            <button *ngIf="row.delete">Delete</button> 
        </div>

            </td>
         
      </tr> 
    </table> 
</div> 